<div class="card">
    <p-sidebar [(visible)]="filtersVisible" position="left">
        <ng-template pTemplate="header">
            <h4>Add more filters</h4>
        </ng-template>
        <ng-template pTemplate="content">
            <form [formGroup]="filterFormGroup">
                <p-panel header="Age" header="Gender" [toggleable]="true" class="my-4" [collapsed]="collapsed">
                    <div *ngFor="let gender of genders" class="field-checkbox">
                        <div class="d-flex flex-row gap-2 my-2">
                            <p-checkbox formControlName="selectedGender" [value]="gender" [inputId]="gender">
                            </p-checkbox>
                            <label [for]="gender">{{ gender }}</label>
                        </div>
                    </div>
                </p-panel>
                <hr class="mx-2 my-4">
                <p-panel header="Age" [toggleable]="true" [collapsed]="collapsed">
                    <p-dropdown styleClass="p-inputtext-sm w-100 mb-2" [options]="matchMode"
                        formControlName="ageSelectedMode">
                    </p-dropdown>
                    <p-inputNumber styleClass="p-inputtext-sm w-100" inputId="integernly" formControlName="age">
                    </p-inputNumber>
                </p-panel>
                <hr class="mx-2 my-4">
                <p-panel header="EyeColor" [toggleable]="true" [collapsed]="collapsed">
                    <p-multiSelect styleClass="p-inputtext-sm w-100" [options]="eyeColor" formControlName="eyeColor"
                        [filter]="false">
                        <ng-template let-option pTemplate="item">
                            <div class="inline-block vertical-align-middle">
                                <span class="ml-1 mt-1">{{ option }}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </p-panel>
                <hr class="mx-2 my-4">
                <p-panel header="BirthDate" [toggleable]="true" [collapsed]="collapsed">
                    <p-calendar styleClass="p-inputtext-sm w-100" dateFormat="yy-mm-dd" [readonlyInput]="true"
                        formControlName="birthDate" [showIcon]="true" selectionMode="range"></p-calendar>
                </p-panel>
            </form>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="d-flex align-items-center justify-content-center">
                <button pButton label="Filter" class="w-25 mx-2" (click)="filterDtUser()"></button>
                <button pButton label="Clear" class="p-button-outlined w-25 mx-2"
                    (click)="clearDtUser(dtUser)"></button>
            </div>
        </ng-template>
    </p-sidebar>
    <p-table #dtUser data-name="dtUser" [value]="users" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[10, 20, 40]"
        [globalFilterFields]="['firstName', 'lastName', 'age', 'gender', 'eyeColor', 'birthDate']">
        <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
                <span class="ml-2">
                    <p-button type="button" styleClass="p-button-outlined p-button-secondary"
                        (click)="filtersVisible = true" icon="pi pi-filter" label="Add Filters"></p-button>
                </span>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="searchValue"
                        (input)="dtUser.filterGlobal(searchValue, 'contains')" placeholder="Search FirstName..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Phone</th>
                <th>EyeColor</th>
                <th>BirthDate</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.eyeColor }}</td>
                <td>{{ user.birthDate }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>